In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('smart_card_data.csv')
data

,Time_In,Time_Out,Card_Id,Fare,StationId_In,StationId_Out
0,4/1/14 13:14,4/1/14 13:19,970900000000,190,10,9
1,4/1/14 14:46,4/1/14 14:52,970900000000,190,9,10
2,4/1/14 9:48,4/1/14 10:25,970900000000,380,37,9
3,4/1/14 11:08,4/1/14 11:46,970900000000,380,9,37
4,4/1/14 17:43,4/1/14 18:00,995572000000,190,11,15
5,4/1/14 17:01,4/1/14 17:04,972672000000,190,26,26
6,4/1/14 13:29,4/1/14 14:07,972672000000,380,30,44
7,4/1/14 14:35,4/1/14 15:12,972672000000,380,44,30
8,4/1/14 18:31,4/1/14 18:44,972672000000,190,31,34
9,4/1/14 20:32,4/1/14 20:51,972672000000,190,34,31
10,4/1/14 14:00,4/1/14 14:24,972672000000,285,30,22
11,4/1/14 21:17,4/1/14 21:49,972672000000,285,22,29
12,4/1/14 17:58,4/1/14 18:10,972672000000,190,30,26
13,4/1/14 22:17,4/1/14 22:31,972672000000,190,26,30
14,4/1/14 12:21,4/1/14 12:32,972672000000,190,5,7
15,4/1/14 9:52,4/1/14 10:07,972672000000,190,30,25
16,4/1/14 11:01,4/1/14 11:18,972672000000,190,25,10
17,4/1/14 14:48,4/1/14 15:12,972672000000,190,10,30
18,4/1/14 11:37,4/1/14 12:14,972672000000,285,30,42
19,4/1/14 14:23,4/1/14 14:58,972672000000,285,42,30
20,4/1/14 13:14,4/1/14 13:58,972672000000,380,31,44
21,4/1/14 11:22,4/1/14 11:52,972672000000,380,30,16
22,4/1/14 16:56,4/1/14 17:13,972672000000,190,31,9
23,4/1/14 21:24,4/1/14 21:46,972672000000,190,9,30
24,4/1/14 11:30,4/1/14 11:42,972672000000,190,30,9
25,4/1/14 14:17,4/1/14 14:35,972672000000,190,9,22
26,4/1/14 15:57,4/1/14 16:23,972672000000,285,22,30
27,4/1/14 19:28,4/1/14 19:44,972672000000,190,30,9
28,4/1/14 16:36,4/1/14 16:44,972672000000,190,28,9
29,4/1/14 17:57,4/1/14 18:08,972672000000,190,9,28
...,...,...,...,...,...,...
816591,4/1/14 17:07,4/1/14 17:29,995258000000,190,43,8
816592,4/1/14 12:44,4/1/14 12:52,995258000000,190,13,14
816593,4/1/14 10:28,4/1/14 10:57,995258000000,285,37,27
816594,4/1/14 13:15,4/1/14 13:35,995258000000,190,33,39
816595,4/1/14 8:21,4/1/14 8:31,995258000000,190,7,10
816596,4/1/14 17:16,4/1/14 17:23,995258000000,190,10,8
816597,4/1/14 7:38,4/1/14 8:01,995258000000,285,29,20
816598,4/1/14 8:00,4/1/14 8:19,995258000000,190,10,16
816599,4/1/14 16:40,4/1/14 16:59,995258000000,190,16,10
816600,4/1/14 7:33,4/1/14 7:57,995258000000,190,34,27
816601,4/1/14 8:31,4/1/14 8:54,995258000000,190,27,34
816602,4/1/14 7:37,4/1/14 8:05,995258000000,190,1,8
816603,4/1/14 18:08,4/1/14 18:30,995258000000,190,8,1
816604,4/1/14 10:47,4/1/14 11:07,995258000000,190,43,9
816605,4/1/14 8:47,4/1/14 9:17,995258000000,285,2,10
816606,4/1/14 10:41,4/1/14 10:50,995258000000,190,10,8
816607,4/1/14 11:16,4/1/14 11:36,995258000000,190,8,2
816608,4/1/14 8:35,4/1/14 9:25,995258000000,380,47,16
816609,4/1/14 9:48,4/1/14 10:36,995258000000,380,16,46
816610,4/1/14 11:08,4/1/14 11:24,995258000000,190,46,51
816611,4/1/14 14:33,4/1/14 14:49,995258000000,190,51,47
816612,4/1/14 8:23,4/1/14 8:50,995258000000,285,42,11
816613,4/1/14 9:15,4/1/14 9:35,995258000000,190,33,26
816614,4/1/14 8:19,4/1/14 8:35,995258000000,190,30,9
816615,4/1/14 19:04,4/1/14 19:19,995258000000,190,9,30
816616,4/1/14 15:48,4/1/14 16:00,995258000000,190,25,26
816617,4/1/14 17:16,4/1/14 17:25,995258000000,190,33,35
816618,4/1/14 18:36,4/1/14 18:47,995258000000,190,35,33
816619,4/1/14 10:17,4/1/14 10:52,995258000000,285,21,14
816620,4/1/14 19:54,4/1/14 20:28,995258000000,380,44,14

In [3]:
data = data.sort_values(by=['Card_Id'])
a=list(data['Card_Id'].value_counts())

In [8]:
a[:-100]

[64023,
 54402,
 44533,
 28123,
 26455,
 24384,
 23118,
 22604,
 21325,
 20167,
 17755,
 17098,
 15340,
 14994,
 13706,
 13056,
 12461,
 11766,
 11433,
 11218,
 10941,
 10569,
 10411,
 10405,
 10244,
 9656,
 9613,
 9323,
 9264,
 8908,
 8817,
 8665,
 8648,
 8399,
 8231,
 8206,
 8193,
 7882,
 7726,
 7321,
 7209,
 7026,
 6955,
 6931,
 6752,
 6439,
 6179,
 5912,
 5904]